node_modules/
dist/
build/
coverage/

.git/
.github/

.env
.env.*


auth/
auth_info_baileys/
baileys_auth_info/
session/
sessions/

data/
*.db
*.sqlite
*.sqlite3

logs/
*.log

.vscode/
.idea/

tmp/
temp/

.DS_Store
Thumbs.db